*, *:before, *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    color: #fcfffa;
    font-family: "メイリオ","游ゴシック","YuGothic","Cambria","Microsoft YaHei", "SimSun", "SimHei";
    height:100%;
    width:100%;
    background: repeating-linear-gradient(-45deg, #5d5a5a 0, #5d5a5a 2px, #343434 4px, #343434 6px);
    overflow: hidden;
}
a {
    text-decoration: none;
    display: inline-block;
}
a:link{
    color: rgb(51, 51, 51);
}
a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

a.copyright:link { color: #fcfffa; }
a:visited { color: #666; }
a:active { color: #999; }
a.title:link { 
    color: rgb(51, 51, 51);
    font-weight: bold;
}

a.copyright:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
 }
a.title:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

p{
    text-indent:0.7em;
}
h1{
    font-size: 1.1em;
    margin-top: 5px;
}
ul{
    margin-left: 1em;
    line-height: 1.5em;
    list-style: square;
}
ul.credits{
    margin: 5px;
    list-style: none;
}
ul.data{
    margin-left: 0.5em;
    list-style: none;
}
ol.number{
    margin-left: 1.2em;
    list-style-type: decimal;
}

ol.latin{
    margin-left: 1.2em;
    list-style-type: lower-latin;
}

/* Footer */
.layout-footer{
    height: 3%;
    width: 100%;
}
.layout-footer--pos{
    position: absolute;
    bottom: 0;
    -moz-bottom: 0;
    -ms-bottom: 0;
    -webkit-bottom: 0;
    margin: 0;
}
.footer-line{
    height: 100%;
    width: 100%;
    background-color: #212121;

    display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;

    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;

    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;

    padding-top: 1px;
}
.footer-text{
    font-size: 105%;
}
.privacy--pos{
    position: absolute;
    right: 2%;
}

/* Image */
.image--100x100--as_it_is{
    height: 100%;
    width: 100%;
}
.image--100x--as_it_is{
    height: 100%;
    width: auto;
}
.image--50x100--as_it_is{
    height: 50%;
    width: 100%;
}
.image--100x100--max_limit{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.sentence-line--pos{
    display: block;
    -moz-display: block;
    -ms-display: block;
    -webkit-display: block;
    margin: 15px auto;
}
/* content  */
.content_header-language {
    padding: 8px 15px;
}
.content_header-language--pos {
    text-align: right;
}

.content_main {
    background-color:rgb(212, 212, 212);
    overflow-y: auto;
    scrollbar-color: rgb(141, 141, 141) rgb(184, 183, 183);
    scrollbar-width: thin;

    height: 85%;
    width: 90%;
    padding: 2%;
}
.content_main--pos {
    margin: 1.5% auto;
}
::-webkit-scrollbar {
    background: rgb(184, 183, 183);
    width: 10px;
    height: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 2px;
}

.content_title {
    font-size: clamp(1.2em, 1.3em, 1.5em);
    text-align:center;
    margin-bottom: 1%;
}
.content_title--box {
    background-color: #c8c8c8;
    border-bottom: double 3px #898989;
    padding: 0 15px;
    
    display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -webkit-display: inline-block;
}
.content_title--pos {
    margin: 0 auto;
}

.layout-main--pos{
    z-index: 1;
    top: 5%;
    left: 0;
    right: 0;
    position: relative;
    margin: 0 auto;
    padding-bottom: 2%;
}
.layout-main--text{
    color: rgb(51, 51, 51);
}
.policy-date--pos{
    text-align: right;
}

/* outline content */
.outline_content {
    background-color: rgb(214, 214, 214);
    border: solid 1px rgb(206, 206, 206);
    border-radius: 2px;
    padding: 0 5px 5px 5px;
    margin-top: 3px;
}

.outline_title {
    font-size: 1.1em;
    margin: 11px 18px 8px 18px;
}

.outline_title--box {
    background-color: rgb(212, 215, 215);
    border-bottom: solid 1px #3c3c3c;
    padding: 3px 50px 0px 15px;

    display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -webkit-display: inline-block;
}
/* detail content */
.detail_content {
    background-color: rgb(212, 217, 217);
    border: solid 1px rgb(206, 206, 206);
    border-radius: 4px;
    padding: 0 5px 5px 5px;
    margin-top: 3px;
}
.detail_title {
    margin: 11px 18px 8px 18px;
}

.detail_title--box {
    background-color: rgb(212, 214, 214);
    border-bottom: solid 1px #3c3c3c;
    padding: 3px 0px 0px 15px;
    padding-right: clamp(20px, 3vw, 50px);

    display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -webkit-display: inline-block;
}

/* PC */
@media screen and (min-width: 961px){
    .content_header {
        max-height: 30vh;
        width: clamp(350px, 50vh, 500px);
        padding: 8px 5px 0 0;
    }
    .content_header--pos {
        position: relative;
        margin:0 0 0 auto;
        right: 0;
    }
    .content_header-title {
        font-size: clamp(23px, 5vh, 32px);
        border-bottom: solid 5px rgb(51, 51, 51);
        padding: 0 10% 0 1%;
        margin-right: 5px;
    }

    .layout-main {
        height: 88%;
        width: 70%;
        
        background-color: #dedede;
        border: 8px solid #5e5050;
        border-radius: 5px;
    }

    .logo {
        z-index: 3;
        height: auto;
        width: 18vw;
        min-width: 250px;
    }
    .logo--pos {
        position: absolute;
        top: 0;
        left: 7%;
    }

    .decoration {
        z-index: 2;
        width: 80px;
        height: 30px;
        background: #e0d181;
        opacity: 0.6;
    }
    .decoration--pos0 {
        transform: rotate(-35deg);
        position: absolute;
        top: 4%;
        left: 12.5%;
    }
    .decoration--pos1 {
        transform: rotate(35deg);
        position: absolute;
        top: 4%;
        left: 82%;
    }
    .decoration--pos2 {
        transform: rotate(-145deg);
        position: absolute;
        top: 91%;
        left: 12.5%;
    }
    .decoration--pos3 {
        transform: rotate(155deg);
        position: absolute;
        top: 91%;
        left: 82%;
    }
}
/* Tablet */
@media screen and (max-width: 960px){
    .content_header {
        max-height: 30vh;
        width: clamp(340px, 40vw, 400px);
        padding: 8px 3px 0 0;
    }
    .content_header--pos {
        position: relative;
        margin:0 0 0 auto;
        right: 0;
    }
    .content_header-title {
        font-size: clamp(18px, 4vw, 26px);
        border-bottom: solid 3px rgb(51, 51, 51);
        padding: 0 2% 0 1%;
        margin-right: 1px;
    }

    .layout-main {
        height: 88%;
        width: 90%;
        
        background-color: #dedede;
        border: 7px solid #5e5050;
        border-radius: 5px;
    }

    .logo {
        z-index: 3;
        height: auto;
        width: 20vw;
        min-width: 160px;
    }
    .logo--pos {
        position: absolute;
        top: 0;
        left: 1%;
    }

    .decoration {
        z-index: 2;
        width: 60px;
        height: 25px;
        background: #e0d181;
        opacity: 0.6;
    }
    .decoration--pos0 {
        transform: rotate(-37deg);
        position: absolute;
        top: 4%;
        left: 1.5%;
    }
    .decoration--pos1 {
        transform: rotate(37deg);
        position: absolute;
        top: 4%;
        left: 90%;
    }
    .decoration--pos2 {
        transform: rotate(-147deg);
        position: absolute;
        top: 91%;
        left: 1.5%;
    }
    .decoration--pos3 {
        transform: rotate(147deg);
        position: absolute;
        top: 91%;
        left: 90%;
    }
}

/* For Data */
@media screen and (min-width:521px){
    .data-content{
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;

        flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        text-align: center;

        width: 98%;
        margin: 0 auto;
    }
    .data-content--box {
        padding: 2.5px 0;
        margin: auto;
        width: 48%;
    }
}

/* Mobile */
@media screen and (max-width:520px){
    .content_header {
        max-height: 30vh;
        width: clamp(180px, 30vh, 350px);
        padding: 8px 3px 0 0;
    }
    .content_header--pos {
        position: relative;
        margin:0 0 0 auto;
        right: 0;
    }
    .content_header-title {
        font-size: clamp(18px, 3.5vw, 22px);
        border-bottom: solid 3px rgb(51, 51, 51);
        padding: 0 2% 0 1%;
        margin-right: 1px;
    }
    .layout-main {
        height: 90%;
        width: 94%;
        
        background-color: #dedede;
        border: 3px solid #5e5050;
        border-radius: 5px;
    }

    .logo {
        z-index: 3;
        height: auto;
        width: 15vw;
        min-width: 140px;
    }
    .logo--pos {
        position: absolute;
        top: 0;
        left: 0;
    }

    .decoration {
        z-index: 2;
        width: 50px;
        height: 20px;
        background: #e0d181;
        opacity: 0.6;
    }
    .decoration--pos0 {
        transform: rotate(-5deg);
        position: absolute;
        top: 4%;
        left: 45%;
    }
    .decoration--pos1 {
        height: 0;
        width: 0;
    }
    .decoration--pos2 {
        transform: rotate(-5deg);
        position: absolute;
        top: 93%;
        left: 45%;
    }
    .decoration--pos3 {
        height: 0;
        width: 0;
    }

    .data-content{
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;

        flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        text-align: center;

        width: 98%;
        margin: 0 auto;
    }
    .data-content--box {
        padding: 2.5px 0;
        margin: 5px auto;
        width: 100%;
    }
}